html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-moz-selection { /* Code for Firefox */
  background: #4A005C;
}

::selection {
  background: #4A005C;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
